$padding10 : 10px;

h1{
    text-align: center;
    color : white; 
}

form{
    padding: $padding10;
}

#displaySurface{
    padding: $padding10;
}

#displayPrice{
    padding: $padding10;
    position: absolute;
    top: 50%;
}

body{
    background-image: url("img/IFI-Immobilier-1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
}

#blockFormulaire{
    box-shadow: 0px 8px 12px rgba(13, 13, 0,0.3),  -8px -8px 12px rgba(13, 13, 0,0.3);
    padding: $padding10;
    position: absolute;
    margin: 15px 15px;
    margin-right: 2%;
    margin-left: 2%;
    left: 10px;

    #selectHouse{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #rooms-number{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #postalCode{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:980px){
    body{
        background-image: url("img/IFI-Immobilier-1.jpg");
    }

}